In [1]:
#imported libraries
import pandas as pd
import numpy as np
import math

In [2]:
#importing csv file
df = pd.read_csv('rating.csv')
df.head(2)

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,pubs/bars,...,swimming pools,gyms,bakeries,beauty & spas,cafes,viewpoints,monuments,gardens,Av_Experience,Experience
0,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,2.64,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1.569167,0
1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,2.65,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1.581667,0

In [3]:
df = df.drop(['Av_Experience'], axis = 1)

In [4]:
x = df.drop(['Experience'], axis = 1)
y = df['Experience']  #target

In [5]:
x.shape

(5456, 24)

In [6]:
y.unique()

array([0, 1], dtype=int64)

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
5451    1
5452    0
5453    1
5454    1
5455    1
Name: Experience, Length: 5456, dtype: int64

In [8]:
#importing LVQ algo.
from neupy import algorithms
classifier = algorithms.LVQ(n_inputs = 24, n_classes=2)

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\pankaj verma\anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [9]:
#divding data into training and testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4)

In [10]:
classifier.train(x_train,y_train,epochs=1000)

In [11]:
y_pred = classifier.predict(x_test)

In [12]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7567567567567568